<html>
  <head>
    <link rel="stylesheet" href="voicedemo.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="voicedemo.js"></script>
  </head>
  <body>
    <div id="app-container">
      <div>
        <div onclick="openMenu('voice-menu')">* Say "Voice Menu"</div>
        <div id="key-takeaways">
          Key takeaways
          <ol>
            <li> Engagement with voice commands would increase if the command options were clearly laid out.</li>
            <li> Limiting the vocabulary of a speech recognition tool greatly increases the accuracy of command identification.</li>
          </ol>
        </div>
      </div>
      <div>
        <div id="app">          
          <div v-for="m in menuList" :id="m.id" class="sidenav">
            <div v-if="m.isRootMenu != false" class="menu-item">
              <img src="images/talking_black.png" class="talking-head">Back
              <hr class="navline" />
            </div>
            <hr v-if="m.isRootMenu == false" class="navline" />
            <div class="menu-item" v-for="mi in m.menuItems">
              <img src="images/talking_black.png" class="talking-head">{{mi.text}}
            </div>
            <hr class="navline" />
            <div class="menu-item"><img src="images/talking_black.png" class="talking-head">Exit Menu</div>
          </div>


          <img id="back-to-the-future" src="images/BTTF.jpg" class="poster">
          <img id="lego-movie" src="images/Lego.jpg" class="poster">
          <img id="matrix" src="images/Matrix.jpg" class="poster">
          <img id="pizza" src="images/pizza.png" class="food">
          <img id="wings" src="images/wings.png" class="food">
          <img id="ice-cream" src="images/shake.png" class="food">
          <img id="teddy-bear" src="images/teddy.png" class="toy">
          <img id="train" src="images/train.png" class="toy">
          <img id="frog" src="images/froggy.png" class="toy">
        </div>
      </div>

    </div>
    <script>
      var currentMenu = "";

      function openMenu(menuId) {
        console.log(menuId);
        closeCurrentMenu()
        currentMenu = menuId;
        document.getElementById(menuId).style.width = "200px";
      }
      
      function closeMenu(menuId) {
        if (document.getElementById(menuId))
          document.getElementById(menuId).style.width = "0";
      }

      function showSummary() {
        // Don't show the "Key Takeaways" until after they experienced the menu atleast once.
        document.getElementById("key-takeaways").style.display = "block";
      }

      function openParentMenu() {
        openMenu("voice-menu");
      }

      function closeCurrentMenu() {
        closeMenu(currentMenu);
      }

      function performAction(action, item) {
        console.log(action, " ", item);

        if (action=="poster") {
          // Remove all previous posters before displaying selected one.
          for (p of document.getElementsByClassName("poster"))
            p.style.display = "none";
        }

        document.getElementById(item).style.display = "block";
      }
    </script>
    <script>
      var app = new Vue({
        el: "#app",
        data: menudata,
      });
    </script>
    <script>
      // Using AnnYang voice recognition library.
      if (annyang) {
        var commands = {
          "back": () => { openParentMenu() },
          "exit menu": () => { closeCurrentMenu(); showSummary(); },
        };

        for (let m of app.menuList) {
          commands[m.text] = () => openMenu(m.id);
          if (!m.isRootMenu) {
            for (let mi of m.menuItems) {
              commands[mi.text] = () => performAction(mi.type, mi.id);
            }
          }
        }

        annyang.addCommands(commands);
    
        // Start listening.
        annyang.start();
      }
    </script>    
  </body>
</html>
